
# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH
{{ if eq .chezmoi.os "linux" }}
export PATH=$HOME/.local/bin:$HOME/bin:/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin:$PATH
export SHELL=/home/linuxbrew/.linuxbrew/bin/zsh
{{ end }}

# User configuration
export EDITOR=nvim

set extended_glob

unsetopt BEEP

# You may need to manually set your 
# language environment
# export LANG=en_US.UTF-8

alias vim=nvim
alias nv=nvim
alias ls="eza"
alias ll="eza -l"
alias la="eza -al"
alias v="fd --type f --hidden --exclude .git | fzf-tmux -p | xargs nvim"
alias c=bat
alias tk=term_keep

fpath=(~/.config/zsh/plugins/zsh-completions/src $fpath)

autoload -U add-zsh-hook

ZSH=${ZSH:-${ZDOTDIR:-$HOME/.config/zsh}}
ZSH_CUSTOM=${ZSH_CUSTOM:-$ZSH/custom}
# Use antidote.lite - a Zsh micro plugin manager based on zsh_unplugged.
if [[ ! -e $ZSH/lib/antidote.lite.zsh ]]; then
  mkdir -p $ZSH/lib
  curl -fsSL -o $ZSH/lib/antidote.lite.zsh \
    https://raw.githubusercontent.com/mattmc3/zsh_unplugged/main/antidote.lite.zsh
fi

# load any files in your lib directory
for zlib in $ZSH/lib/*.zsh(N); source $zlib
unset zlib

# Plugins
myplugins=( 
  zsh-users/zsh-completions
  jeffreytse/zsh-vi-mode
  zsh-users/zaw
  #mattmc3/zephyr/plugins/prompt
  joshskidmore/zsh-fzf-history-search

  zsh-users/zsh-syntax-highlighting
  zsh-users/zsh-history-substring-search
  zsh-users/zsh-autosuggestions
  )
# clone and load
plugin-clone $myplugins
plugin-load $myplugins

{{ if eq .chezmoi.os "darwin" }}
# darwin only
alias kube="kubectl --kubeconfig ~/tmp/servers/cur.yaml -n aiops"
alias kubee="kubectl --kubeconfig ~/tmp/servers/engolo.yaml -n aiops"
alias kubel="kubectl --kubeconfig ~/tmp/servers/laamb.yaml -n aiops"
export JAVA_HOME=/Library/Java/JavaVirtualMachines/ibm-semeru-open-17.jdk/Contents/Home
export PATH="/usr/local/sbin:$PATH:$HOME/tools/bin:/usr/local/opt/postgresql@17/bin"
export GOPRIVATE=github.ibm.com

#export TERM_KEEP_DB_PATH=~/Library/CloudStorage/Box-Box/2vault/termkeep/data.db
#export TERM_KEEP_HIDE_LOGO="1"

# node version management
export NVM_DIR=~/.nvm
source $(brew --prefix nvm)/nvm.sh

# Go config
export GOBIN=~/tools/gobin
export PATH="$PATH:$HOME/tools/gobin"

if [[ -f $(which podman) ]]; then
  export DOCKER_HOST="unix://$(podman machine inspect --format '{{ "{{" }}.ConnectionInfo.PodmanSocket.Path{{ "}}" }}')"
fi

# Secrets
op inject -i "${HOME}/.config/zsh/secrets.zsh" | while read -r line; do
  eval "$line"
done

# Ruby stuff for Jekyll
#source $(brew --prefix)/opt/chruby/share/chruby/chruby.sh
#source $(brew --prefix)/opt/chruby/share/chruby/auto.sh
#chruby ruby-3.3.5
{{ end }}

# Load Git completion
zstyle ':completion:*:*:git:*' script ~/.config/zsh/plugins/git/git-completion.bash
fpath=(~/.config/zsh/plugins/git/ $fpath)

autoload -Uz compinit && compinit

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

eval "$(zoxide init zsh)"
eval "$(atuin init zsh)"

# Starship
eval "$(starship init zsh)"
