
# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# User configuration
export EDITOR=nvim

set extended_glob

unsetopt BEEP

# You may need to manually set your 
# language environment
# export LANG=en_US.UTF-8

alias vim=nvim
alias nv=nvim
alias ls="eza"
alias ll="eza -l"
alias v="fd --type f --hidden --exclude .git | fzf-tmux -p | xargs nvim"
alias c=bat
alias tk=term_keep

fpath=(~/.config/zsh/plugins/zsh-completions/src $fpath)

ZSH=${ZSH:-${ZDOTDIR:-$HOME/.config/zsh}}
ZSH_CUSTOM=${ZSH_CUSTOM:-$ZSH/custom}
# Use antidote.lite - a Zsh micro plugin manager based on zsh_unplugged.
if [[ ! -e $ZSH/lib/antidote.lite.zsh ]]; then
  mkdir -p $ZSH/lib
  curl -fsSL -o $ZSH/lib/antidote.lite.zsh \
    https://raw.githubusercontent.com/mattmc3/zsh_unplugged/main/antidote.lite.zsh
fi

# load any files in your lib directory
for zlib in $ZSH/lib/*.zsh(N); source $zlib
unset zlib

# Plugins
myplugins=( 
  zsh-users/zsh-completions
  jeffreytse/zsh-vi-mode
  zsh-users/zaw
  mattmc3/zephyr/plugins/prompt
  joshskidmore/zsh-fzf-history-search

  zsh-users/zsh-syntax-highlighting
  zsh-users/zsh-history-substring-search
  zsh-users/zsh-autosuggestions
  )
# clone and load
plugin-clone $myplugins
plugin-load $myplugins

{{ if eq .chezmoi.os "darwin" }}
# darwin only
export JAVA_HOME=/usr/local/opt/java11
export PATH="$PATH:/usr/local/bin:$HOME/tools/bin"

export TERM_KEEP_DB_PATH=~/Library/CloudStorage/Box-Box/2vault/termkeep/data.db
export TERM_KEEP_HIDE_LOGO="1"

# node version management
export NVM_DIR=~/.nvm
source $(brew --prefix nvm)/nvm.sh

# Go config
export GOBIN=~/tools/gobin
export PATH="$PATH:$HOME/tools/gobin"
{{ end }}

# Load Git completion
zstyle ':completion:*:*:git:*' script ~/.config/zsh/plugins/git/git-completion.bash
fpath=(~/.config/zsh/plugins/git/ $fpath)

autoload -Uz compinit && compinit

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

{{ if eq .chezmoi.os "darwin" }}
[ -f ~/.jfrog/jfrog_zsh_completion ] && source ~/.jfrog/jfrog_zsh_completion

# Ruby stuff for Jekyll
source $(brew --prefix)/opt/chruby/share/chruby/chruby.sh
source $(brew --prefix)/opt/chruby/share/chruby/auto.sh
chruby ruby-3.3.5
{{ end }}

eval "$(zoxide init zsh)"
eval "$(atuin init zsh)"

# Starship
eval "$(starship init zsh)"
