{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
# taps
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/services"
tap "koekeishiya/formulae"
tap "minio/stable"
tap "noobaa/noobaa"

# CLI tools
brew "atuin"
brew "awscli"
brew "bash-language-server"
brew "bat"
brew "btop"
brew "openjdk@11"
brew "cassandra", restart_service: true
brew "chezmoi"
brew "couchdb", restart_service: true
brew "delve"
brew "difftastic"
brew "dive"
brew "docker-compose"
brew "docker-ls"
brew "docker-slim"
brew "entr"
brew "eza"
brew "fd"
brew "fzf"
brew "gdb"
brew "gh"
brew "git"
brew "go"
brew "gopls"
brew "gosec"
brew "gradle"
brew "gradle@7"
brew "helix"
brew "helm"
brew "jdtls"
brew "jless"
brew "jq"
brew "zookeeper", restart_service: true
brew "kafka", restart_service: true
brew "kcat"
brew "kubernetes-cli"
brew "lazygit"
brew "lf"
brew "python@3.9"
brew "lua"
brew "luajit"
brew "mage"
brew "marksman"
brew "maven"
brew "md5sha1sum"
brew "meson"
brew "minio"
brew "mprocs"
brew "tree-sitter"
brew "neovim"
brew "nvm"
brew "openjdk@8"
brew "operator-sdk"
brew "podman"
brew "postgresql", restart_service: true
brew "pre-commit"
brew "r"
brew "ripgrep"
brew "rnr"
brew "starship"
brew "staticcheck"
brew "tmux"
brew "xh"
brew "yaml-language-server"
brew "yazi"
brew "yq"
brew "zellij"
brew "zoxide"
brew "zsh"
brew "zsh-completions"
brew "zsh-syntax-highlighting"
brew "koekeishiya/formulae/skhd"
brew "koekeishiya/formulae/yabai"
brew "noobaa/noobaa/noobaa"
brew "chruby"
brew "ruby-install"
brew "borders"

# GUI Tools
cask "nikitabobko/tap/aerospace"
cask "firefox"
cask "font-fira-code-nerd-font"
cask "font-fira-mono-nerd-font"
cask "font-hack-nerd-font"
cask "karabiner-elements"
cask "mactex"
cask "notunes"
cask "podman-desktop"
cask "semeru-jdk-open"
cask "vimr"
cask "vscodium"
cask "wezterm"
# need to uninstall chrome to install this version
#cask "google-chrome"
EOF

{{ end -}}
